.navbar {
    text-align: center;
<<<<<<< HEAD
    background-color: #f5f4f4;
}
=======
    background-color: #101522;

    .nav__button{
        width: 100px;
        margin-right: 10px;
    }
}
>>>>>>> da70d5d7f78175deba5e50d37b87b7f99ac7528f
